@font-face {
	font-family: 'PeanutDonutsRegular';
	src: url('..\fonts\peanut-donuts.woff') format('woff');
	     
	font-weight: normal;
	font-style: normal;
}

h1 {
    font-family: "PeanutDonutsRegular", Arial, sans-serif;
    font-size: 36px;
    color: #343434;
}

p {
    font-family: 'open sans-serif', arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #F3EDFF;
}

header {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  

  

footer {
    width: 100%;
    height: 250px;
    margin-top: 30%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.inline-block {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.inline-block-footer {
    display: flex;
    font: 14px;
    width: 300px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 250px !important;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

nav {
    display: flex;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}


ul {
    display: flex;
    font-family: 'open sans', arial, sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: auto;
}

.skillsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    padding-bottom: 75px;
}

.heroImg {
    margin-left: auto;
    margin-right: 5%;
    align-items: center;
    display: flex;
    width: 25%;
}

.bio {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: auto;
    width: 35%;
    margin-top: 25px;
}

.buttonResume {
    display: inline-block;
    width: 400px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    border-width: 2px;
    border-color: #C6B5E9;
    background-color: #F3EDFF;
}

.contact {
    padding: 100px;
    margin: 0 auto;
    vertical-align: top;
}

.imgcasestudy {
    width: 300px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.casestudies {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    padding: 25px;
}

.accordion {
    background-color: #C6B5E9;
    display: block;
    color: #000;
    cursor: pointer;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border-top: 2px round #343434;
    border-bottom: 2px round #343434;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.4s;
    max-width: 600px;
  }
  
  .active, .accordion:hover {
    background-color: #F3EDFF;
    border: 2px solid #C6B5E9;
    border-left: none;
    border-right: none;
  }
  
  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #343434;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

  